<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>891779712791-4he6qcnr7fhb25oi9mogg1fbjivb7dcb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891779712791-4he6qcnr7fhb25oi9mogg1fbjivb7dcb</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ0XrJNr0VVJ3pwISsIh9P1jqweqv5y_I</string>
	<key>GCM_SENDER_ID</key>
	<string>891779712791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LongNguyen.LongNguyen-NoteiOS</string>
	<key>PROJECT_ID</key>
	<string>noteios-9aee5</string>
	<key>STORAGE_BUCKET</key>
	<string>noteios-9aee5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:891779712791:ios:b16d85295a8e7d53</string>
	<key>DATABASE_URL</key>
	<string>https://noteios-9aee5.firebaseio.com</string>
</dict>
</plist>